<div  class="row" >
	<div class="panel panel-primary">
		<div class="panel-heading" >
		 Search A Document
		</div>
		<div class="panel-body" >
			<div class="panel panel-info">
				<div class="panel-body">
					<body ng-app="UploadCTRL" ng-controller="UploadCTRLs"> 
						<h4 class="dark-grey bottom" >List Document</h4><hr>

						<div class="col-xs-6 col-sm-6 col-md-2" ng-init="getProductList();">
							<label >ProductCategory<span style="color:red">*</span></label>
							<select class="form-control" required ng-model="upload.prod_cat" ng-options="c.PROD_DIV_CODE as c.PROD_CAT_NAME for c in productList"
							ng-change="getProdSubCatist(upload.prod_cat);" name="productcategory" >
						</select>
						<span ng-show="!form2.productcategory.$pristine && form2.productcategory.$invalid" class="help-block label">ProductCategory is required.</span>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-2" ng-class="{ 'has-error' : form2.productSubcategory.$invalid && !form2.productSubcategory.$pristine }" >
						<label >ProductSubCategory<span style="color:red">*</span></label>
						<select class="form-control " ng-model="upload.prod_sub_cat" ng-options="c.SUBCAT_CODE as c.PRODSUBCAT_NAME for c in prodsubcatList"
						ng-change="getModelList(upload.prod_sub_cat);" name="productSubcategory" >
					</select>
					<span ng-show="!form2.productSubcategory.$pristine && form2.productSubcategory.$invalid" class="help-block label">ProductSubcategory is required.</span>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2" >
					<label>Model :</label>
					<select class="form-control" ng-model="upload.spmdname" ng-options="c.PROD_MOD_CODE as c.PROD_MOD_NAME for c in prdModelList" ng-change="getSPPrtNameList(upload.prod_sub_cat,upload.spmdname);">
					</select>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2" >
					<label>Part Name:</label>
					<select  class="form-control" ng-model="upload.spname" ng-options="c.PART_NAME as c.PART_NAME for c in spPrtNames" ng-change="getMslPartColor(upload.spname);">
					</select>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-2" >
					<label>Color:</label>
					<select class="form-control" ng-model="upload.spprdcolor" ng-options="cp.PART_COLOR as cp.PART_COLOR for cp in SparePartColors" data-ng-required >
					</select>
				</div>
							
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12" align="center" style="margin-top: 21px;">
						<button ng-click="viewFile();" class="btn btn-primary"  value="Submit">Search Documents</button>
						<button class="btn btn-danger">Cancel</button>
					</div>
				</div>

			</body>
		</div>
	</div>
</div>
</div>	
<div dw-loading="loader">
  <fieldset id="s2" style="padding-bottom: 2px; margin-left: 17px; margin-right: 17px;" >
    <table class="table" datatable="ng" dt-options="dtOptions">
      <thead>
        <tr style="color: white;float: center;background-color: #0598DD;">
          <th class="text-center">Sr.No</th>
          <th class="text-center">Document Name </th>
                  </tr>
      </thead>
      <tbody class="text-center" >
        <tr ng-repeat="upload in viewDirectoryList" >
          <td >{{ $index + 1 }}</td>
          <td><a class="btn btn-link btn-sm" href="{{upload.path}}">{{upload.name1}}</a></td>
           </tr>
      </tbody>
    </table>  
  </fieldset>
</div>
</div>



