<!-- Logo -->
<style>
  .color1{
    color: black;
  }
</style>

<span  class="logo">
<!-- <a href="">
      <img src="images/shubhrambh_logo.png" style="width: 40%; height:70%;">
       
    </a> --> 
<img src="images/Emcologo.png" style="width: 40px; margin-right: 10px;"  alt="Emco" >
<b>Shubharambh</b>
</span>

<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <a class="sidebar-toggle" role="button" ng-click="toggleSidebar()">
    <span class="sr-only">Toggle navigation</span>
  </a>
   
  <div class="navbar-custom-menu" ng-init="getCountForHeader(); ">
    <ul class="nav navbar-nav">
    <li class="dropdown notifications-menu" ng-click="goFullscreen()" dropdown>
        <a  class="dropdown-toggle" dropdown-toggle>
          <i class="glyphicon glyphicon-resize-full"></i>
        </a>
   </li>
      <!---Header notification ends   -->
      <!-- Notifications: style can be found in dropdown.less -->
      <style type="text/css">
        .fa_customho {
        color: #00FFD9
        }
        .fa_custombr {
        color: coral
        }
        .fa_customsc {
        color: violet
        }
        </style>


        <li class="dropdown notifications-menu" dropdown ng-click="getExpireMaterialList();">
        <a  class="dropdown-toggle" dropdown-toggle>
          <i class="fa fa-bell-o fa_customho"></i>
          <span class="label" style="background: yellow;color: black" >{{MaterialCount.material_count}}</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header" style="color:red">{{MaterialCount.material_count}} Material Will Expires Soon</li>
          <li class="user-body">
           <table id="" class="table" fixed-header> 
            <thead style="color: black;background-color: #cbe5fb;">
              <tr>
                <th class="text-center">Sr.No.</th>
                <th class="text-center">Material Name</th>
                <th class="text-center">Expiry Date</th>
              </tr>
            </thead>
            <tbody style="overflow-y:scroll;">
              <tr ng-repeat="me in expireMaterialList">
                <td>{{$index+1}}</td>
                <td>{{me.material_number}}</td>
                <td>{{me.expiry_date}}</td>
              </tr>
            </tbody>
          </table>
          </li>
          <!-- Menu Footer-->
          
        </ul>
        

      </li>
      <!-- <li class="dropdown notifications-menu" dropdown >
        <a  class="dropdown-toggle" dropdown-toggle>
          <i class="fa fa-bell-o fa_customho"></i>
          <span class="label " style="background: orange;color: black">{{MaterialCount.material_count}}</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">5 Material stock is Low</li>
        </ul>
      </li> -->
      <li class="dropdown notifications-menu" dropdown ng-init="">
        <a  class="dropdown-toggle" dropdown-toggle>
          <i class="fa fa-bell-o fa_customho"></i>
          <span class="label" style="background: #FFAEDB;color: black">{{HeaderCount.indent_count}}</span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">{{HeaderCount.indent_count}} Indent request are pending</li>
        </ul>
      </li>
      <!---Header notification ends-->


      <!-- User Account: style can be found in dropdown.less -->  
      <li class="dropdown user user-menu" dropdown>
        <a  class="dropdown-toggle fa fa-user" dropdown-toggle>
         
           <span class="hidden-xs">User : {{userData.userName}}</span>
        </a>
        <ul class="dropdown-menu">
          <!-- User image -->
          <!-- Menu Body -->
          <li class="user-body">
            <div>
              <h5><label>Name :</label> {{userData.userFullName}}</h5>
              <h5><label>User Name :</label> {{userData.userName}}</h5>
              <h5><label>Contact No. :</label> {{userData.mobileNumber}}</h5>
            </div>
          </li>
          <!-- Menu Footer-->
          <li class="user-footer">
            <div align="center">
              <a class="btn btn-default btn-flat" ng-click="logout();">Sign out</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
 </div>
    <div ng-include src="'app/modal.html'"></div>
</nav>

   
