<script>
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }    
</script>

<div class="row" ng-hide="addContractorForm">
  <div class="panel panel-info">
    <div class="panel panel-primary">
      <div class="panel-heading">
      Contractor Master
      <button  class="btn-md button button1 fa fa-user-plus pull-right" aria-hidden="true" ng-click="form2.contractor_name.$pristine=true;
              form2.contractor_address1.$pristine=true;
              form2.city.$pristine=true;
              form2.state_id.$pristine=true;
              form2.contact_person.$pristine=true;
              form2.contact_no.$pristine=true;
              form2.pan_details.$pristine.details=true;
              showAddContractorForm();">
      Add New Contractor </button>
      </div>
    </div>
  <div class="row small-top table-responsive">
  
  <fieldset class="scheduler-border contain" ng-init="getContractorList();getCountryList();" style="margin-right: 18px; margin-left: 15px;">
    <table id="exportHODash" dt-options="dtOptions" class="table table-bordered" border="1" fixed-header> 
      <thead>
        <tr>
          <th class="text-center">Sr.no</th>
          <th class="text-center">Contractor Code<input type="text" name="contractor_number" tooltip="Enter Contractor Code" ng-model="search.contractor_number" class="form-control"/></th>
          <th class="text-center">SAP Contractor Code<input type="text" name="sap_contractor_code" tooltip="Enter SAP Contractor Code" ng-model="search.sap_contractor_code" class="form-control"/></th>
          <th class="text-center">Contractor Name<input type="text" name="contractor_name" tooltip="Enter Contractor Name" ng-model="search.contractor_name" class="form-control"/></th>
          <th class="text-center">Address<input type="text" name="contractor_address1" tooltip="Enter Address" ng-model="search.contractor_address1" class="form-control"/></th>
         <th class="text-center">Country<input type="text" name="country_name" tooltip="Enter Country" ng-model="search.country_name" class="form-control"/></th>
          <th class="text-center">State<input type="text" name="state_name" tooltip="Enter State" ng-model="search.state_name" class="form-control"/></th>
          <th class="text-center">City<input type="text" name="city" tooltip="Enter City" ng-model="search.city" class="form-control"/></th>
          <th class="text-center">Pin Code<input type="text" name="pin_code" tooltip="Enter Pin Code" ng-model="search.pin_code" class="form-control"/></th>
          <th class="text-center">PAN No<input type="text" name="pan_details" tooltip="Enter PAN No" ng-model="search.pan_details" class="form-control"/></th>
          <th class="text-center">GSTIN No.<input type="text" name="gstin_no" tooltip="Enter GSTIN No." ng-model="search.gstin_no" class="form-control"/></th>
          <th class="text-center">Contact Person<input type="text" name="contact_person" tooltip="Enter Contact Person" ng-model="search.contact_person" class="form-control"/></th>
          <th class="text-center">Contact No.<input type="text" name="contact_no" tooltip="Enter Contact No." ng-model="search.contact_no" class="form-control"/></th>
          <th class="text-center">Status<input type="text" name="active_status_display" tooltip="Enter Status." ng-model="search.active_status_display" class="form-control"/></th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="contractor in contractorList | filter: search">
          <td>{{ $index + 1 }}</td>
          <td>{{contractor.contractor_number}}</td>
          <td>{{contractor.sap_contractor_code}}</td>
          <td>{{contractor.contractor_name}}</td>
          <td>{{contractor.contractor_address1}}</td>
          <td>{{contractor.country_name}}</td>
          <td>{{contractor.state_name}}</td>
          <td>{{contractor.city}}</td>
          <td>{{contractor.pin_code}}</td>
          <td>{{contractor.pan_details}}</td>
          <td>{{contractor.gstin_no}}</td>
          <td>{{contractor.contact_person}}</td>
          <td>{{contractor.contact_no}}</td>
          <td>{{contractor.active_status_display}}</td>
          <td><button class="btn btn-xs btn-info" ng-click="getContractorDetails(contractor.contractor_id);"><i class="glyphicon glyphicon-edit"></i>
          </button>
          <button id="active" class="btn btn-xs btn-success" ng-show="contractor.active_status==0;" ng-click="deleteContractor(contractor.contractor_id,contractor.active_status);"><i class="glyphicon glyphicon-trash"></i></button>
         <button id="deactive" class="btn btn-xs btn-danger"  ng-show="contractor.active_status==1;" ng-click="deleteContractor(contractor.contractor_id,contractor.active_status);"><i class="glyphicon glyphicon-trash"></i></button></td>
        </tr>
      </tbody>
    </table>   
  </fieldset>
  </div>
</div>
</div>

<div class="row" dw-loading="loader" ng-show="addContractorForm">
  <div class="panel panel-primary" >
    <div class="panel-heading" ng-show="addContractorData">
      Add New Contractor
    </div>
    <div class="panel-heading" ng-hide="addContractorData">
        Update Contractor
    </div>

    <div class="panel-body">
      <div class="panel panel-info">
        <div class="panel-body">
          <div  class="row">
            <form name="form2" class="form" novalidate>           
            <fieldset>
              <legend><font style="color: #0598DD;">Contractor Details</font></legend>
              <div class="row small-top" style="margin-left: 10px;">

                <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <label >Contractor Code<span style="color:red">*</span></label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" ng-class="{ 'has-error' : form2.contractor_number.$invalid && !form2.contractor_number.$pristine }">
                  <input style=" text-align: left; " type="text" required name="contractor_number" disabled ng-model="contractor.contractor_number" class="form-control"/>
         <span ng-show="!form2.contractor_number.$pristine && form2.contractor_number.$invalid" class="help-block label">Contractor Code Required</span>
                </div>
      
      <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <label >SAP Contractor Code</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" >
                  <input style=" text-align: left; " type="text"  name="contractor_number" disabled ng-model="contractor.sap_contractor_code" class="form-control"/>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <label >Contractor Name<span style="color:red">*</span></label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" ng-class="{ 'has-error' : form2.contractor_name.$invalid && !form2.contractor_name.$pristine }">
                  <input type="text" required name="contractor_name" maxlength="35" ng-model="contractor.contractor_name" class="form-control"/>
                  <span ng-show="!form2.contractor_name.$pristine && form2.contractor_name.$invalid" class="help-block label">Contractor name Required</span>
                </div>

              </div>

            <div class="row small-top" style="margin-left: 10px;">
                <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <label >Address<span style="color:red">*</span></label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-7" ng-class="{ 'has-error' : form2.contractor_address1.$invalid && !form2.contractor_address1.$pristine }">
                  <input  maxlength="45" type="text" style="width:95%"required name="contractor_address1" ng-model="contractor.contractor_address1" class="form-control"/>
                  <span ng-show="!form2.contractor_address1.$pristine && form2.contractor_address1.$invalid" class="help-block label">Contractor Address Required</span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                    <label >Country<span style="color:red">*</span></label>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" ng-class="{ 'has-error' : form2.country_name.$invalid && !form2.country_name.$pristine }">
                   <input type="text" class="form-control" required ng-model="contractor.country_name" name="country_name" tooltip="Country" typeahead="s.country_name as s.country_name for s in countryList| filter:$viewValue" typeahead-min-length='1'  typeahead-on-select='getStateList(contractor.country_name);'/>  
                   <span ng-show="!form2.country_name.$pristine && form2.country_name.$invalid" class="help-block label">Country Required</span>
                 </div>
                      </div>

            <div class="row small-top" style="margin-left: 10px;">
                <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
        
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-7">
                   <input maxlength="45" type="text" style="width:95%" name="address2" class="form-control" ng-model="contractor.address2"/>
                   </div>

<div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <label >State<span style="color:red">*</span></label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" ng-class="{ 'has-error' : form2.state_name.$invalid && !form2.state_name.$pristine }">
                  <select class="form-control" required name='state_name' type="text" ng-model="contractor.state_name" ng-options="s.state_name as s.state_name for s in stateList | orderBy : 'state_name'"></select>
                  <span ng-show="!form2.state_name.$pristine && form2.state_name.$invalid" class="help-block label">State Required</span>
                </div> 



                      
                     </div>

            <div class="row small-top" style="margin-left: 10px;">
                   <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">  
                         
                    </div>
                      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-7">
                    <input  type="text" maxlength="45" style="width:95%" name="address3" class="form-control" ng-model="contractor.address3"/>
                    </div>
                      <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                    <label>City<span style="color:red">*</span></label>
                  </div>
                    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" ng-class="{ 'has-error' : form2.city.$invalid && !form2.city.$pristine }">
                        <input class="form-control" type="text" maxlength="20" name="city" ng-model="contractor.city" required>
                        <span ng-show="!form2.city.$pristine && form2.city.$invalid" class="help-block label">City Required</span>
                    </div>
                    
                    </div>
                     <div class="row small-top" style="margin-left: 15px;"> 
                <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                    <label>Pin Code</label>
                  </div>
                    <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3">
                        <input class="form-control" type="text" onkeypress="return isNumberKey(event)" maxlength="6" name="pin_code" ng-model="contractor.pin_code" />
                    </div> 
                <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <label>PAN No.<span style="color:red">*</span></label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" ng-class="{ 'has-error' : form2.pan_details.$invalid && !form2.pan_details.$pristine }">
                  <input class="form-control" required  name="pan_details"maxlength="10" type="text" ng-model="contractor.pan_details"/>
                  <span ng-show="!form2.pan_details.$pristine && form2.pan_details.$invalid" class="help-block label">Pan No Required</span>
                </div>
                   <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <label>GSTIN No.</label>
                </div>
                  <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" >
                    <input class="form-control" type="text" name="gstin_no" maxlength="15" ng-model="contractor.gstin_no"/>
                  </div>  
              </div>
              <div class="row small-top" style="margin-left: 10px;">
               
                <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                    <label>Contact Person<span style="color:red">*</span></label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" ng-class="{ 'has-error' : form2.contact_person.$invalid && !form2.contact_person.$pristine }">
                  <input class="form-control" required name="contact_person" maxlength="25" type="text" ng-model="contractor.contact_person"/>
                  <span ng-show="!form2.contact_person.$pristine && form2.contact_person.$invalid" class="help-block label">Contact Person Required</span>
                </div>
               
                  <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                    <label >Contact No.<span style="color:red">*</span></label>
                  </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3"  ng-class="{ 'has-error' : form2.contact_no.$invalid && !form2.contact_no.$pristine }">
                  <input class="form-control" required name="contact_no" type="text" ng-model="contractor.contact_no" maxlength="15" onkeypress="return isNumberKey(event)"/>
                  <span ng-show="!form2.contact_no.$pristine && form2.contact_no.$invalid" class="help-block label">Contact No Required</span>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1">
                  <label >Email ID</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" >
                  <input class="form-control" name="email_id" maxlength="30" type="text" ng-model="contractor.email_id">
                </div>
              </div>             



            </fieldset>
           <div class="row" >
            <div  align="center">
              <h2></h2>
              <button ng-show="addContractorData" class="btn btn-primary" ng-click="
              form2.contractor_name.$pristine=false;
              form2.contractor_address1.$pristine=false;
              form2.city.$pristine=false;
              form2.state_id.$pristine=false;
              form2.contact_person.$pristine=false;
              form2.contact_no.$pristine=false;
              form2.pan_details.$pristine=false;
              saveContractor(!form2.$invalid);">Submit</button>
              <button ng-hide="addContractorData" class="btn btn-primary" ng-click="
              form2.contractor_name.$pristine=false;
              form2.contractor_address1.$pristine=false;
              form2.city.$pristine=false;
              form2.state_id.$pristine=false;
              form2.contact_person.$pristine=false;
              form2.contact_no.$pristine=false;
              form2.pan_details.$pristine=false;
              updateContractor(!form2.$invalid);">Update</button>
              <button class="btn btn-danger" ng-click="hideAddContractorForm();">Cancel</button>
            </div>
          </div><br>
          </form>
        </div>       
      </div>
      </div>
    </div>
  </div>
</div>