<script>
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }    
</script>
<div class="row" dw-loading="loader">
<div class="panel panel-primary" >
  <div class="panel-heading">
    Inward Gate Entry
    <button class="btn-md button button1 fa fa-user-plus pull-right" aria-hidden="true" ng-click="form2.supplier_name.$pristine=true;form2.inventory_type_id.$pristine=true;form2.reference_number.$pristine=true;form2.transporter_name.$pristine=true;form2.project_id.$pristine=true;form2.challan_no.$pristine=true;form2.challan_date.$pristine=true;form2.store_id.$pristine=true;form2.vehicle_no.$pristine=true;form2.lr_no.$pristine=true; form2.total_no_pkg.$pristine=true; 
    addNewGateEntry();getGateEntryCode();" ng-hide="addNewEntryForm">New Entry</button>
  </div>
  <div class="panel-body" ng-init="getGateEntryList();">
    <div class="panel panel-info" ng-hide="addNewEntryForm">
      <div class="row">
      <br/>
      <div class="col-xs-6 col-sm-6 col-md-9" style="padding-left: 20px;">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-1">
        <label><i class="glyphicon glyphicon-search"></i>Search</label>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2">
        <input type="text" name="Search" ng-model="searchKeyword" class="form-control"/>
      </div>
    </div>
    <div class="small-top">

    <div class="table-responsive">
      <table dt-options="dtOptions" class="table table-bordered dt-responsive nowrap">
        <thead>
          <tr>     
            <th class="text-center">Sr No</th>
            <th class="text-center">Inward Number</th>
            <th class="text-center">Inward Date</th>
            <th class="text-center">Inventory Type</th>
            <th class="text-center">PO/Delivery No</th>
            <th class="text-center">Challan/Invoice Number</th>
            <th class="text-center">Challan Date</th>
            <th class="text-center">Supplier Name</th>
            <th class="text-center">Transporter Name</th>
            <th class="text-center">Vehicle No.</th>
            <th class="text-center">Status</th>
            <th class="text-center">Inward Time</th>
            <th class="text-center">Outward Time</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr ng-repeat="entry in gateEntryList | filter: searchKeyword">     
          <td>{{$index+1}}</td>  
          <td><a href="" ng-click="getgateEntryDetailsView(entry.gate_entry_id);">{{entry.inward_gate_entry_number}}</td>
          <td>{{entry.inward_gate_entry_date}}</td>
          <td>{{entry.inventory_type_id}}</td>
          <td>{{entry.reference_number}}</td>
          <td>{{entry.challan_no}}</td>
          <td>{{entry.challan_date}}</td>
          <td>{{entry.supplier_name}}</td>
          <td>{{entry.transporter_name}}</td>
          <td>{{entry.vehicle_no}}</td>
          <td>{{entry.status}}</td>
          <td>{{entry.inward_time}}</td>
          <td><button class="btn btn-info btn-xs" ng-if="entry.status=='In Progress'" type="submit" ng-click="getgateEntryDetailsView1(entry.gate_entry_id);">Outward</button><div ng-if="entry.status==='In Transit'">{{entry.outward_time}}</div></td>     
          </tr>
        </tbody>
      </table>   
    </div>  
  </div>
</div>
</div>

  <div class="panel-body" ng-show="addNewEntryForm">
  <div class="panel panel-info">
    <form name="form2" class="form" novalidate>
      <div class="row small-top" style="margin-left: 10px;" ng-init="">
        <legend><font style="color: #0598DD;">Inward Gate Entry Details</font></legend>
          <div class="row small-top" style="margin-left:10px;">
          <div class="col-xs-6 col-sm-6 col-md-1" ng-init="getProjectNameList();">
            <label >Project Name<span style="color:red">*</span></label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3" ng-class="{ 'has-error' : form2.project_id.$invalid && !form2.project_id.$pristine }">
            <select class="form-control" required name='project_id' type="text" style="text-align:left;" ng-model="gateEntry.project_id" ng-options="i.project_id as i.project_name for i in projectNameList | orderBy : 'project_name'" ng-change=getStoreList(gateEntry.project_id); ng-disabled="viewUpdateButton || updateField"></select>
            <span ng-show="!form2.project_id.$pristine && form2.project_id.$invalid" class="help-block label">Project Name Required</span>
          </div>   
          <div class="col-xs-6 col-sm-6 col-md-1" ng-init="">
            <label >Store Name<span style="color:red">*</span></label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3" ng-class="{ 'has-error' : form2.store_id.$invalid && !form2.store_id.$pristine }">
            <select class="form-control" required name='store_id' type="text" style="text-align:left;" ng-model="gateEntry.store_id" ng-options="i.store_id as i.store_name for i in storeNameList | orderBy : 'project_name'" ng-disabled="viewUpdateButton || updateField"></select>
            <span ng-show="!form2.store_id.$pristine && form2.store_id.$invalid" class="help-block label">Store Name Required</span>
          </div>
</div>
<hr>
        <div class="row small-top" style="margin-left:10px;">
          <div class="col-xs-6 col-sm-6 col-md-1">
            <label>Inward Number</label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3" ng-class="{ 'has-error' : form2.inward_gate_entry_number.$invalid && !form2.inward_gate_entry_number.$pristine }">
            <input type="text" class="form-control" style="text-align:left;" ng-model="gateEntry.inward_gate_entry_number" ng-disabled="true" name="inward_gate_entry_number"/>
             <span ng-show="!form2.inward_gate_entry_number.$pristine && form2.inward_gate_entry_number.$invalid" class="help-block label">Inward Number Required</span> 
          </div>
 
          <div class="col-xs-6 col-sm-6 col-md-1">
            <label>Inward Date</label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3" >
            <input type="text" class="form-control" style="text-align:left;" ng-model="gateEntry.inward_gate_entry_date" ng-disabled="true" name="inward_gate_entry_date"/>
          </div>

 <div class="col-xs-6 col-sm-6 col-md-1">
            <label >Inward Time</label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <input type="text" class="form-control" style="text-align:left;" ng-disabled="true" ng-model="gateEntry.inward_time" /> 
          </div>


        </div>

        <div class="row small-top" style="margin-left: 10px;" ng-init="getInventoryTypeList();">
          <div class="col-xs-6 col-sm-6 col-md-1">
          <label >Inventory Type<span style="color:red">*</span></label>
         </div>
         <div class="col-xs-6 col-sm-6 col-md-3" ng-class="{ 'has-error' : form2.inventory_type_id.$invalid && !form2.inventory_type_id.$pristine }">
          <select class="form-control" style="text-align:left;" ng-model="gateEntry.inventory_type_id" ng-disabled="viewUpdateButton || updateField" required name="inventory_type_id" ng-options="i.inventory_type_id as i.inventory_type_name for i in inventoryTypeList | orderBy : 'inventory_type_name'" ng-change="getReferenceNoList(gateEntry.inventory_type_id);">
          </select>
            <span ng-show="!form2.inventory_type_id.$pristine && form2.inventory_type_id.$invalid" class="help-block label">Inventory Type Required</span>   
          </div>
 <div class="col-xs-6 col-sm-6 col-md-1" ng-if="gateEntry.inventory_type_id === '1' || gateEntry.inventory_type_id === '3'">
          <label>PO Number<span style="color:red">*</span></label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" ng-if="gateEntry.inventory_type_id === '1' || gateEntry.inventory_type_id === '3'"  ng-class="{ 'has-error' : form2.purchase_document_number.$invalid && !form2.purchase_document_number.$pristine }">

          <input type="text" class="form-control" style="text-align:left;" required ng-model="gateEntry.purchase_document_number" name="purchase_document_number"
          placeholder="Enter Emco Stock PO Number" typeahead="cp.purchase_document_number as cp.purchase_document_number for cp in referenceNoLIst | filter:$viewValue" typeahead-min-length='1' ng-disabled="viewUpdateButton || updateField" typeahead-on-select="getPoNoList(gateEntry.purchase_document_number);"/>
          <span ng-show="!form2.purchase_document_number.$pristine && form2.purchase_document_number.$invalid" class="help-block label">Purchase Document Number Required</span>  
        </div>
        <div class="col-xs-6 col-sm-6 col-md-1" ng-if="gateEntry.inventory_type_id === '7'">
          <label>Material Return Number</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" ng-if="gateEntry.inventory_type_id === '7'">

          <input type="text" class="form-control" style="text-align:left;" ng-model="gateEntry.material_return_number" 
          placeholder="Enter Material Return Number" typeahead="cp.purchase_document_number as cp.purchase_document_number for cp in referenceNoLIst | filter:$viewValue" typeahead-min-length='1' ng-disabled="viewUpdateButton || updateField" ng-change="getRetrnMaterialList(gateEntry.material_return_number);"/>
         
        </div>

        <div class="col-xs-6 col-sm-6 col-md-1" ng-if="gateEntry.inventory_type_id === '2'">
          <label>Delivery Number<span style="color:red">*</span></label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3" ng-if="gateEntry.inventory_type_id === '2'"  ng-class="{ 'has-error' : form2.delivery_number.$invalid && !form2.delivery_number.$pristine }">

          <input type="text" class="form-control" style="text-align:left;" required ng-model="gateEntry.delivery_number" name="delivery_number"
          placeholder="Enter OSM Stock Delivery Number" typeahead="cp.delivery_number as cp.delivery_number for cp in referenceNoLIst | filter:$viewValue" typeahead-min-length='1' ng-disabled="viewUpdateButton || updateField" typeahead-on-select="getDeliveryList(gateEntry.delivery_number);"/>
          <span ng-show="!form2.delivery_number.$pristine && form2.delivery_number.$invalid" class="help-block label">Purchase Document Number Required</span>  
        </div>

   <div class="col-xs-6 col-sm-6 col-md-1">
            <label >Supplier Name<span style="color:red">*</span></label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3" ng-class="{ 'has-error' : form2.supplier_name.$invalid && !form2.supplier_name.$pristine }">
            <input type="text" name="supplier_name" style="text-align:left;" ng-model="gateEntry.supplier_name" required class="form-control" ng-disabled="viewUpdateButton || updateField">
            <span ng-show="!form2.supplier_name.$pristine && form2.supplier_name.$invalid" class="help-block label">Supplier Name Required</span>
          </div>
       

         
 
          
        </div>

 <div class="row small-top" ng-init="" style="margin-left: 10px;">
      <div class="col-xs-6 col-sm-6 col-md-1" ng-init="getProjectNameList();">
            <label >Challan /Invoice Number<span style="color:red">*</span></label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3" ng-class="{ 'has-error' : form2.challan_no.$invalid && !form2.challan_no.$pristine }">
           <input type="text" class="form-control" ng-disabled="viewUpdateButton || updateField" style="text-align:left;" required ng-model="gateEntry.challan_no" name="challan_no"/>
            <span ng-show="!form2.challan_no.$pristine && form2.challan_no.$invalid" class="help-block label">Challan Number Required</span>
          </div>   
          <div class="col-xs-6 col-sm-6 col-md-1" ng-init="">
            <label >Challan Date<span style="color:red">*</span></label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-2 col-lg-3"ng-class="{ 'has-error' : form2.challan_date.$invalid && !form2.challan_date.$pristine }">
                  <div class="datepicker" date-format="dd-MM-yyyy"  button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'>
                    <input ng-model="gateEntry.challan_date" style="text-align:left;" placeholder="DD-MM-YYYY" ng-disabled="viewUpdateButton || updateField" type="text" class="form-control angular-datepicker-input" required name="challan_date" />
                     <span ng-show="!form2.challan_date.$pristine && form2.challan_date.$invalid" class="help-block label">Challan Date Required</span>
                  </div>
                </div>

                 <div class="col-xs-6 col-sm-6 col-md-1">
            <label>Transporter Name<span style="color:red">*</span>:</label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3" ng-class="{ 'has-error' : form2.transporter_name.$invalid && !form2.transporter_name.$pristine }">
            <input type="text" class="form-control" style="text-align:left;" required ng-model="gateEntry.transporter_name" name="transporter_name" ng-disabled="viewUpdateButton || updateField"/>
            <span ng-show="!form2.transporter_name.$pristine && form2.transporter_name.$invalid" class="help-block label">Transporter Name Required</span>  
          </div>
         </div>

                

<div class="row small-top" ng-init="" style="margin-left: 10px;">

 <div class="col-xs-6 col-sm-6 col-md-1">
            <label>Vehicle No.<span style="color:red">*</span>:</label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3" ng-class="{ 'has-error' : form2.vehicle_no.$invalid && !form2.vehicle_no.$pristine }">
            <input type="text" class="form-control" style="text-align:left;" ng-disabled="viewUpdateButton || updateField" required ng-model="gateEntry.vehicle_no" name="vehicle_no"/>
            <span ng-show="!form2.vehicle_no.$pristine && form2.vehicle_no.$invalid" class="help-block label">Vehicle No. Required</span>                        
          </div>
 <div class="col-xs-6 col-sm-6 col-md-1">
            <label >LR No.<span style="color:red">*</span></label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3" ng-class="{ 'has-error' : form2.lr_no.$invalid && !form2.lr_no.$pristine }">
            <input type="text" class="form-control" style="text-align:left;" ng-model="gateEntry.lr_no" name="lr_no" ng-disabled="viewUpdateButton || updateField" required />
            <span ng-show="!form2.lr_no.$pristine && form2.lr_no.$invalid" class="help-block label">LR No. Required</span>
          </div>
            <div class="col-xs-6 col-sm-6 col-md-1">
            <label>Total No. Of Pkgs<span style="color:red">*</span>:</label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3" ng-class="{ 'has-error' : form2.total_no_pkg.$invalid && !form2.total_no_pkg.$pristine }">
            <input type="text" class="form-control" style="text-align:left;" ng-disabled="viewUpdateButton || updateField" required ng-model="gateEntry.total_no_pkg" name="total_no_pkg"/>
            <span ng-show="!form2.total_no_pkg.$pristine && form2.total_no_pkg.$invalid" class="help-block label">Total No Of Packages</span>                        
          </div>
          </div>
       <div class="row small-top" style="margin-left: 10px;">
          
          <div class="col-xs-6 col-sm-6 col-md-1">
            <label>Outward Time</label>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3">
            <input type="text" class="form-control" style="text-align:left;" ng-model="gateEntry.outward_time" disabled/>
          </div>   
        </div>
      
 
     
  </div>

<div class="table-responsive small-top" ng-init="" ng-if="gateEntry.inventory_type_id === '7'">
          <table dt-options="dtOptions" class="table table-bordered">
            <thead>
              <tr>     
                <th class="text-center">Sr No</th>
                    <th class="text-center">Material Issue Number</th>
                    <th class="text-center">Location Number</th>
                    <th class="text-center">Material Number</th>                    
                    <th class="text-center">Material Description</th>
                    <th class="text-center">UOM</th>
                    <th class="text-center">Issued Quantity</th>
                    
                    <th class="text-center">Consumed Quantity</th>
                      <th class="text-center">Balance Quantity</th>
                       <th class="text-center">Return Quantity</th>
                        <th class="text-center">Actual Return Quantity</th>
                        <th class="text-center">Reason Of Return</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr ng-repeat="ind in ReferenceMaterialList | filter: searchKeyword">    
                    <td>{{$index+1}}</td>
                     <td>{{ind.material_issue_number}}</td>
                    <td>{{ind.loc_no}}</td>
                     <td>{{ind.material_number}}</td>
                    <td>{{ind.material_description}}</td>
                    <td><span >{{ind.unit_of_measurment}}</span></td>
                    <td>{{ind.issued_qty}}</td>
                      
                       <td><span >{{ind.actual_quantity}}</span></td>
  <td ng-bind="ind.issued_qty - ind.actual_quantity"><span >{{ind.balance_qty}}</span></td>
                     <td><span >{{ind.quantity}}</span></td>
                      <td>
                     <input class="form-control table-input" type="text" ng-model="ind.challan_quantity" data-ng-required onkeypress="return isNumberKey(event)"/></td>
                 <td><span >{{ind.reason_return}}</span></td>
                  
                       <!-- <td ng-bind="consumption.issued_qty - consumption.actual_quantity"><span >{{consumption.balance_qty}}</span> -->

                  </tr>            </tbody>
          </table>   
        </div>







    <div class="table-responsive small-top" ng-init="" ng-if="gateEntry.inventory_type_id === '1' || gateEntry.inventory_type_id === '3' || gateEntry.inventory_type_id === '2'">
      <table id="exportCreateIndent" ng-hide="showTable" class="table table-striped table-bordered" border="1">
        <thead>
          <tr style="float: center;background-color: #CFD8DC;">     
            <th class="text-center">Sr No</th>
            <th class="text-center">Material Number</th>
            <th class="text-center">Material Description</th>
            <th class="text-center">UOM</th>
            <th ng-if="gateEntry.inventory_type_id === '1' || gateEntry.inventory_type_id === '3'" class="text-center">PO Qty</th>
             <th ng-if="gateEntry.inventory_type_id === '2'" class="text-center">Delivery Qty</th>
              <th class="text-center">PO Balance Qty</th>
            <th class="text-center">Challan Qty</th>
          </tr>
        </thead>
        <tbody class="text-center">
        <tr ng-repeat="ind in ReferenceMaterialList">
          <td>{{$index+1}}</td>
          <td>{{ind.material_number}}</td>
          <td>{{ind.material_description}}</td>
          <td>{{ind.unit_of_measurement}}</td>
          <td>{{ind.quantity}}</td>
           <td>{{ind.mrr_balance_quantity}}</td>
            <td><input class="form-control" required align="center" type="text" ng-model="ind.challan_quantity" ng-change="checkBalanceQty(ind.quantity,ind.challan_quantity,ind.mrr_balance_quantity,$index)" ng-disabled="viewUpdateButton || updateField" onkeypress="return isNumberKey(event)"/></td>
        
        </tr>
        </tbody>
      </table>   
    </div>
   
    <div class="table-responsive small-top" ng-if="gateEntry.inventory_type_id === '4' || gateEntry.inventory_type_id === '5' || gateEntry.inventory_type_id === '6'" ng-init="getMaterialCodeList();">
              <table id="exportCreateIndent" class="table table-striped table-bordered" border="1">
                <thead>
                  <tr style="float: center;background-color: #CFD8DC;">     
                    <th class="text-center">Sr No</th>
                    <th class="text-center">Material Number</th>
                    <th class="text-center">Material Description</th>
                    <th class="text-center">UOM</th>
                    <th class="text-center">Challan Qty</th>
          
                    
                  
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr >            
                    <td></td>
                    <td><select class="form-control" type="text" ng-model="indentMaterial.material_number" ng-options="v.material_code as v.material_code for v in materialCodeList | orderBy : 'material_code'" typeahead-min-length="1" ng-change="getMaterialCodeDetails(indentMaterial.material_number);"  width="50%"></select></td>
                     <td><input class="form-control" type="text" ng-model="indentMaterial.material_description" ng-class="{ error: !indentMaterial.material_description }" ng-readonly="true"/></td>
                     <td>{{indentMaterial.unit_of_measurment}}</td>
          
                   
                    <td><input class="form-control table-input" type="number" ng-model="indentMaterial.challan_quantity" name="quantity" min="1" ng-class="{ error: !indentMaterial.challan_quantity }" onkeypress="return isNumberKey(event)" /></td>
                   
                  
                    <td><button ng-disabled="!indentMaterial.material_code || !indentMaterial.material_description || !indentMaterial.challan_quantity"  type="submit" data-ng-click="addIndentMaterial();" class="btn btn-info btn-xs"><span>Add</span></button></td>

                     
                  </tr>

                  <tr ng-repeat="ind in ReferenceMaterialList">
                    <td>{{$index+1}}</td>
                    <td>{{ind.material_number}}</td>
                     <td>{{ind.material_description}}</td>
                      <td>{{ind.unit_of_measurment}}</td>
                   
                    <td><span data-ng-hide="editMode">{{ind.challan_quantity}}</span>
                      <input class="form-control table-input" type="text" data-ng-model="ind.challan_quantity" data-ng-show="editMode" data-ng-required onkeypress="return isNumberKey(event)"/></td>
            
                    <td ng-show="addNewIndentData"><button class="btn btn-xs btn-danger" ng-click="deleteIndentMaterial($index)">Delete</button></td>

                    <td ng-hide="addNewIndentData"><button class="btn btn-info btn-xs" type="submit" data-ng-click="editMode = true; editAppKey(entry)">Edit</button></td>
                  </tr>
                </tbody>
              </table>   
            </div>

    <div class="row" >
    <div align="center">
      <h2></h2>
      <button class="btn btn-primary" ng-show="savebutton"
      ng-click="form2.supplier_name.$pristine=false;form2.inventory_type_id.$pristine=false;form2.reference_no.$pristine=false;form2.vehicle_no.$pristine=false;form2.challan_no.$pristine=false;form2.challan_date.$pristine=false;form2.lr_no.$pristine=false;form2.transporter_name.$pristine=false;form2.store_id.$pristine=false;form2.project_id.$pristine=false;form2.purchase_document_number.$pristine=false;form2.delivery_number.$pristine=false;form2.delivery_number.$pristine=false;form2.total_no_pkg.$pristine=false;saveGateEntry(!form2.$invalid);">Submit</button>
      <button class="btn btn-info"  ng-click="genrateInwardgateentryPDF(gateEntry.gate_entry_id);">Print</button>
      <button class="btn btn-primary" ng-show="viewUpdateButton"
      ng-click="updateOutwardTime(!form2.$invalid);">Update Outward Time</button>

      <button class="btn btn-danger" ng-click="hideAddEntryForm();">Cancel</button>
    </div>
  </div>

  </form>
  
  </div>
  </div>

</div>
</div>