
<script>
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }    
</script>
<style type="text/css">
 table, th , td  {
  border: 2px solid #272424;
  border-collapse: collapse;
  padding: 1px;
  vertical-align: middle!important;
  column-width: 1000px!important;
  align:center;
  text-align: center!important;

}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
} 

.hide{display:none;}
.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbbbbb;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

</style>
<script>
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
      return false;
    return true;
  }    
</script>

<div class="row" dw-loading="loader">
  <div class="panel panel-primary" >

    <div class="panel-heading">
     Material Consumption
     <button id="newBtn" class="btn-md button button1 fa fa-user-plus pull-right" aria-hidden="true" ng-click="form2.project_id.$pristine=true;
                            form2.store_id.$pristine=true;
                            form2.contractor_id.$pristine=true;
                            form2.inventory_type.$pristine=true;
                            form2.reference_no.$pristine=true;
                            addNewGateEntry();getMaterialConsumptionCode();">New Entry</button>
   </div>

   <div class="panel-body" ng-init="getMaterialConsumptionList();">
    <div class="panel panel-info" ng-show="viewList">
      <div class="row">
        <br/>
        <div class="col-xs-6 col-sm-6 col-md-9" style="padding-left: 20px;">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-1">
          <label><i class="glyphicon glyphicon-search"></i>Search</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2">
          <input type="text" name="Search" ng-model="searchKeyword" class="form-control"/>
        </div>

      </div>
      <div class="small-top">

        <div class="table-responsive" >
          <table dt-options="dtOptions" class="table table-bordered dt-responsive nowrap">
            <thead>
              <tr>     
                <th class="text-center">Sr No</th>
                <th class="text-center">Material Consumption Code</th>
                <th class="text-center">Contractor Name</th>
               
              </tr>
            </thead>
            <tbody class="text-center">
              <tr ng-repeat="consumption in consumptionList | filter: searchKeyword">     
                <td>{{$index+1}}</td>  
                <td><a href="" ng-click="getMaterialConsumptionDetails(consumption.material_consumption_code);">{{consumption.material_consumption_code}}</a></td>
                <td>{{consumption.contractor_name}}</td>
               
              </tr>
            </tbody>
          </table>   
        </div>

      </div>
    </div>
  </div>
  </div>
  </div>

  <div class="panel-body" ng-show="addNewEntryForm" >
  <div class="panel panel-info">
 <form name="form2" class="form" novalidate>
  <div class="row small-top" ng-init="">
      <div class="col-xs-6 col-sm-6 col-md-1">
        <label>Material Consumption Number</label>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2">
        <input type="text" class="form-control" ng-model="consumption.material_consumption_code" name="material_consumption_code" disabled="true" />
      </div>

<div class="col-xs-6 col-sm-6 col-md-1" ng-init="getProjectNameList();">
      <label >Project Name<span style="color:red">*</span></label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2" ng-class="{ 'has-error' : form2.project_id.$invalid && !form2.project_id.$pristine }">
      <select class="form-control" required name='project_id' type="text" ng-model="consumption.project_id" ng-options="i.project_id as i.project_name for i in projectNameList | orderBy : 'project_name'" ng-change=getSiteNameList(consumption.project_id); ng-disabled="viewUpdateButton || updateField"></select>
      <span ng-show="!form2.project_id.$pristine && form2.project_id.$invalid" class="help-block label">Project Name Required</span>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-1">
      <label >Site Name<span style="color:red">*</span></label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2" ng-class="{ 'has-error' : form2.project_id.$invalid && !form2.project_id.$pristine }">
      <select class="form-control"  required name='site_id' type="text" ng-model="consumption.site_id" ng-options="i.site_id as i.site_name for i in siteNameList | orderBy : 'site_name'" ng-change=getActivityNameListforConsumption(consumption.site_id) ></select>
      <span ng-show="!form2.project_id.$pristine && form2.project_id.$invalid" class="help-block label">Project Name Required</span>
    </div>
<div class="col-xs-6 col-sm-6 col-md-1" >
                <label >Site Location <span style="color:red">*</span></label>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2" ng-class="{ 'has-error' : form2.contractor_id.$invalid && !form2.contractor_id.$pristine }">
    <input type="text" class="form-control" disabled ng-model="consumption.location" name="">
                <span ng-show="!form2.contractor_id.$pristine && form2.contractor_id.$invalid" class="help-block label">Location Number Required</span>
       </div>
     
</div>
       
<div class="row small-top">
    <div class="col-xs-6 col-sm-6 col-md-1" ng-init="getStoreNameList();">
      <label >Activity Name<span style="color:red">*</span></label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2" ng-class="{ 'has-error' : form2.store_id.$invalid && !form2.store_id.$pristine }">
      <select class="form-control" required name='store_id' type="text" ng-model="consumption.activity_id" ng-options="i.activity_id as i.activity_name for i in activityNameList | orderBy : 'activity_name'" ng-change="getContractorNameforConsumption(consumption.activity_id)" ></select>
      <span ng-show="!form2.store_id.$pristine && form2.store_id.$invalid" class="help-block label">Store Name Required</span>
    </div>   

           <div class="col-xs-6 col-sm-6 col-md-1">
        <label >Material Consumption<span style="color:red">*</span></label>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2" ng-class="{ 'has-error' : form2.material_consumption.$invalid && !form2.material_consumption.$pristine }">
        <select class="form-control" ng-model="consumption.material_consumption" required name="inventory_type">
         <option ng-option value="manual">Manual Upload</option>
         <option ng-option value="excel">Upload Excel</option>
       </select>   
       <span ng-show="!form2.material_consumption.$pristine && form2.material_consumption.$invalid" class="help-block label"> Type Of Material Consumption Required</span>
     </div>   
     <div class="col-xs-6 col-sm-6 col-md-1" >
                <label >Contractor Name<span style="color:red">*</span></label>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2" ng-class="{ 'has-error' : form2.contractor_id.$invalid && !form2.contractor_id.$pristine }">
                <select class="form-control" required name='contractor_id' type="text" ng-model="consumption.contractor_id" ng-options="i.contractor_id as i.contractor_name for i in contractorNameList | orderBy : 'contractor_name'" ng-change=getMaterialListContractorforConsumption(consumption.contractor_id,consumption.location); ></select>
                <span ng-show="!form2.contractor_id.$pristine && form2.contractor_id.$invalid" class="help-block label">Contractor Name Required</span>
       </div>   


   



     </div>
<div class="row small-top">
<div class="col-xs-6 col-sm-6 col-md-1" >
          <label>JMC Number<span style="color:red">*</span></label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2" ng-class="{ 'has-error' : form2.reference_no.$invalid && !form2.reference_no.$pristine }">

          <input type="text" class="form-control" required ng-model="consumption.jmc_number" name="reference_no"
          placeholder="Enter JMC Number"/>
          <span ng-show="!form2.reference_no.$pristine && form2.reference_no.$invalid" class="help-block label">JMC Number Required</span>  
        </div> 
        <div class="excelUpload col-xs-6 col-sm-6 col-md-2">
        <div>
          <label>Choose JMC File<span style="color:red">*</span></label>
        </div>
    <div style="text-align:center" >
     <input type="file" file-model="myFile" /> 
   </div>
        </div>
      <div class="excelUpload col-xs-6 col-sm-6 col-md-2" ng-if="consumption.material_consumption=='excel'" >
      <div>
          <label>Choose Excel File<span style="color:red">*</span></label>
        </div>
    <div style="text-align:center" >
     <input type="file" name="files" id="files" onchange="angular.element(this).scope().UploadFile(this.files)" /> 
   </div>
   <br/>
   </div>
 <div align="center" ng-if="consumption.material_consumption == 'excel'">
 <button class="btn btn-primary" id="saveBtn"
                  ng-click="form2.project_id.$pristine=false;
                            form2.store_id.$pristine=false;
                            form2.contractor_id.$pristine=false;
                            form2.inventory_type.$pristine=false;
                            form2.reference_no.$pristine=false;
                            saveExceldataConsumption(!form2.$invalid);" ng-disabled="!SelectedFileForUpload">Submit</button>
 <button class="btn btn-danger" ng-click="hideAddEntryForm();">Cancel</button>
 </div>
 </div>
<div class="manualUpload"  ng-if="consumption.material_consumption == 'manual'" ng-show="materialtable">
  
            <div class="table-responsive small-top" ng-init="">
              <table id="exportCreateIndent" class="table table-striped table-bordered" border="1">
                <thead>
                  <tr style="float: center;background-color: #CFD8DC;">     
                    <th class="text-center">Sr No</th>
                    <th class="text-center">Material Issue Number</th>
                    <th class="text-center">Location Number</th>
                    <th class="text-center">Material Number</th>                    
                    <th class="text-center">Material Description</th>
                    <th class="text-center">Issued Quantity</th>
                    <th class="text-center">BOM Quantity</th>
                     <th class="text-center">UOM</th>
                    <th class="text-center">JMC Quantity</th>
                    <th class="text-center">Actual Quantity</th>
                      <th class="text-center">Balance Quantity</th>
                   
                  </tr>
                </thead>
                <tbody class="text-center">
                  <!-- <tr>            
                    <td></td>
                    <td><input class="form-control" type="text" ng-model="manual.material_name" /></td>                   
                    <td><input class="form-control" type="number"  name="issued_qty" onkeypress="return isNumberKey(event)" ng-model="manual.issued_qty" /></td>
                    <td><input class="form-control" type="number" ng-model="manual.consumed_qty" onkeypress="return isNumberKey(event)" name="consumed_qty" /></td>
                    <td><input class="form-control" type="number" ng-model="manual.remaining_qty" onkeypress="return isNumberKey(event)" name="remaining_qty" /></td>
                    <td><button ng-disabled="!manual.material_name || !manual.remaining_qty || !manual.consumed_qty || !manual.issued_qty" type="submit" data-ng-click="addManualMaterialConsumption();" class="btn btn-info btn-xs"><span>Add</span></button></td>                     
                  </tr>  -->

                  <tr ng-repeat="manual in indentListContractor">
                    <td>{{$index+1}}</td>
                     <td>{{manual.material_issue_number}}</td>
                    <td>{{manual.loc_no}}</td>
                     <td>{{manual.material_number}}</td>
                    <td>{{manual.material_description}}</td>
                   
                    <td>{{manual.issued_qty}}</td>
                       <td><span >{{manual.required}}</span></td>
                       <td><span >{{manual.unit_of_measurment}}</span></td>
                     <td> <input class="form-control table-input" type="text" data-ng-model="manual.jmc_qty" data-ng-required onkeypress="return isNumberKey(event)"/></td>
                      <td><input class="form-control table-input" type="text" data-ng-model="manual.actual_qty"  data-ng-required onkeypress="return isNumberKey(event)" ng-change="consumptionquantity(manual.issued_qty,manual.actual_qty,$index)"/></td>
                     
                   <td ng-bind="manual.balance_qty = manual.issued_qty-manual.actual_qty"><span>{{manual.balance_qty}}</span></td>
                  </tr>
                </tbody>
              </table>   
            </div>
 <div align="center">
 <button class="btn btn-primary" id="manualsaveBtn"
                  ng-click="form2.project_id.$pristine=false;
                            form2.store_id.$pristine=false;
                            form2.contractor_id.$pristine=false;
                            form2.inventory_type.$pristine=false;
                            form2.reference_no.$pristine=false;
                            form2.material_consumption.$pristine=false;
                            savemanualdataConsumption(!form2.$invalid);">Submit</button>
 <button class="btn btn-danger" ng-click="hideAddEntryForm();">Cancel</button>
 </div>
</div>
</form>
</div>
</div>


<div ng-show="viewUpdateField1">
  <div class="panel panel-info">
  <div class="row small-top" ng-init="">
<div class="col-xs-6 col-sm-6 col-md-1">
        <label>Material Consumption Code</label>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2">
        <input class="form-control" ng-disabled="true" ng-model="consumptionheader.material_consumption_code" name="material_consumption_code"/>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-1" >
      <label >Project Name</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2" >
     <input class="form-control" ng-disabled="true" ng-model="consumptionheader.project_name" name="project_name"/>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-1">
      <label >Site Name</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2" >
    <input class="form-control" ng-disabled="true" ng-model="consumptionheader.site_name" name="store_name"/>
    </div> </div>
    <div class="row small-top" ng-init="">
    <div class="col-xs-6 col-sm-6 col-md-1">
      <label >Activity Name</label>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2" >
    <input class="form-control" ng-disabled="true" ng-model="consumptionheader.activity_name" name="store_name"/>
    </div>
      <div class="col-xs-6 col-sm-6 col-md-1" >
        <label >Contractor Name</label>
      </div>
       <div class="col-xs-6 col-sm-6 col-md-2" >
      <input class="form-control" ng-disabled="true" ng-model="consumptionheader.contractor_name" name="contractor_name"/>  
      </div>
       </div>
<div class="row small-top" ng-init="">
     
    </div>
    <br/>
  <br/>
    </div>
    
      <div ng-hide="addNewEntryForm">

      <div class="col-xs-6 col-sm-6 col-md-9" style="padding-left: 20px;">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-1">
          <label><i class="glyphicon glyphicon-search"></i>Search</label>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2">
          <input type="text" name="Search" ng-model="searchKeyword"/>
        </div> 
          <table dt-options="dtOptions" class="table table-bordered">
            <thead>
              <tr>     
                <th class="text-center">Sr No</th>
                    <th class="text-center">Material Issue Number</th>
                    <th class="text-center">Location Number</th>
                    <th class="text-center">Material Number</th>                    
                    <th class="text-center">Material Description</th>
                    <th class="text-center">Issued Quantity</th>
                    <th class="text-center">BOM Quantity</th>
                     <th class="text-center">UOM</th>
                    <th class="text-center">JMC Quantity</th>
                    <th class="text-center">Actual Quantity</th>
                      <th class="text-center">Balance Quantity</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr ng-repeat="consumption in consumptionheaderList | filter: searchKeyword">    
                    <td>{{$index+1}}</td>
                     <td>{{consumption.material_issue_number}}</td>
                    <td>{{consumption.loc_no}}</td>
                     <td>{{consumption.material_name}}</td>
                    <td>{{consumption.material_description}}</td>
                   
                    <td>{{consumption.issued_qty}}</td>
                       <td><span >{{consumption.required}}</span></td>
                       <td><span >{{consumption.unit_of_measurment}}</span></td>
                        <td><span >{{consumption.jmc_quantity}}</span></td>
                       <td><span >{{consumption.actual_quantity}}</span></td>
                       <td ng-bind="consumption.issued_qty - consumption.actual_quantity"><span >{{consumption.balance_qty}}</span></td>

                  </tr>            </tbody>
          </table>   
        </div>

<div align="center">
<button class="btn btn-danger" ng-click="hideConsumptionForm();">Cancel</button>
 <button class="btn btn-info"  ng-click="genrateMaterialconsumptionPDF(consumption.material_consumption_code);">Print</button>
</div>

       </div>
       
        </div>
<script>
  $(document).ready(function () {

    $('#files').change(handleFile);
  });

  function handleFile(e) {

   var result=[];

        //Get the files from Upload control
        var files = e.target.files;
        var i, f;
        //Loop through files
        for (i = 0, f = files[i]; i != files.length; ++i) {
          var reader = new FileReader();
          var name = f.name;
          reader.onload = function (e) {
            var data = e.target.result;


            var workbook = XLSX.read(data, { type: 'binary' });

            var sheet_name_list = workbook.SheetNames;
            sheet_name_list.forEach(function (y) { /* iterate through sheets */
                    //Conveqrt the cell value to Json
                    var roa = XLSX.utils.sheet_to_json(workbook.Sheets[y]);
                    if (roa.length > 0) {
                      result = roa;
                    }
                  });
                //Get the first column first cell value

                var col = [];
                for (var i = 0; i < result.length; i++) {
                  for (var key in result[i]) {
                    if (col.indexOf(key) === -1) {
                      col.push(key);
                    }
                  }
                } 
                var table = document.createElement("table");
 var tr = table.insertRow(-1);                   // TABLE ROW.

 for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
          }

          for (var i = 0; i < result.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
              var tabCell = tr.insertCell(-1);
              tabCell.innerHTML = result[i][col[j]];
            }
          }
          var divContainer = document.getElementById("excelDataTable");
          divContainer.innerHTML = "";
          divContainer.appendChild(table);
        };
        reader.readAsArrayBuffer(f);


      }
    }  
  </script>


